<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="OneDriveClientId" value="c0007623-7740-40f7-9f09-cf227dc04267" />
    <add key="OneDriveClientSecret" value="ZeUxgIF3DEZ9xdPry7+mXhoDGcQOgXMfmuqahj2H93E=" />
    <add key="GoogleDriveClientId" value="786074117353-crb69v8tnho4ece87gsbbdbb4f0l6ctu.apps.googleusercontent.com" />
    <add key="GoogleDriveClientSecret" value="qLN3cEjp8Ki1VHPCYzSB8vgO" />
    <add key="DropboxReturnURL" value="http://localhost:55046/AppRead/GoogleDriveRedirect.html" />
    <add key="DropboxClientId" value="eoleu177dbonp2t" />
    <add key="DropboxClientSecret" value="gmwnrwcudfs06e0" />

    <add key="DropboxReturnURL" value="http://localhost:55046/AppRead/DropboxRedirect.html" />
    <add key="OneDriveURL" value="" />
    <add key="oneDriveResourceId" value="https://acts987-my.sharepoint.com/" />
    <add key="oneDriveApiEndpoint" value="https://acts987-my.sharepoint.com/personal/jfarhat_acts987_onmicrosoft_com/_api" />

  </appSettings>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>