<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="OneDriveClientId" value="7e4ad110-7be6-4f34-8009-7db93a7c959c" />
    <add key="OneDriveClientSecret" value="/mTqJc4O7FmGj9JUIkZufzOwdr5xuBGBzfyVJQe6fls=" />
    <add key="GoogleDriveClientId" value="406238931024-n0fgrd1aed3ok60ad5rckr4fmhlnha30.apps.googleusercontent.com" />
    <add key="GoogleDriveClientSecret" value="Ers00hGIp23yiU3udCBcuzB6" />
    <add key="DropboxReturnURL" value="http://hostedweb/AppRead/GoogleDriveRedirect.html" />
    <add key="DropboxClientId" value="tftr1tkgf5ig6xw" />
    <add key="DropboxClientSecret" value="zyljmaxw6hctjsj" />

    <add key="DropboxReturnURL" value="http://hostedweb/AppRead/DropboxRedirect.html" />
    <add key="OneDriveURL" value="" />
    <add key="oneDriveResourceId" value="https://mytenantname-my.sharepoint.com/"/>
    <add key="oneDriveApiEndpoint" value="https://mytenantname-my.sharepoint.com/personal/myusername_mytenantname_onmicrosoft_com/_api"/>
  </appSettings>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>